body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #e2e2e2;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    background-color: #bcbcbc;
    position: relative;
    /* For absolute positioning of the logout button */
}

.header-info {
    display: flex;
    align-items: center;
    gap: 10px;
    /* Space between name and button */
}

.logout-button {
    padding: 5px 15px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.logout-button:hover {
    background-color: #c9302c;
}

.change-info-forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.change-info-forms form {
    margin-bottom: 15px;
}

.change-button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.change-button:hover {
    background-color: #4cae4c;
}

.header-logo {
    max-width: 100px;
    height: auto;
}

.username {
    font-size: 1.2rem;
    color: #333;
}

main {
    padding: 20px;
    text-align: center;
}

.subtitle {
    margin-bottom: 20px;
}

.delete-button {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

form {
    display: inline-block;
    text-align: left;
    margin: auto;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input[type=datetime-local],
form input[type=number] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

form .submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

form .submit-button:hover {
    background-color: #45a049;
}

.tables-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.reservation-list {
    width: 48%;
    margin-bottom: 30px;
}

.section-title {
    text-align: left;
    padding-left: 20px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: #bcbcbc;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    font-weight: bold;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

@media screen and (max-width: 768px) {
    .reservation-list {
        width: 100%;
        margin-bottom: 20px;
    }
}